html, body, #root {
	height: 100%;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}

.app-root {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background: #f5f7fb;
}
